# This is Git's per-user configuration file.
[user]
	email = giraffe@cyberzoo.xyz
	name = weirdgiraffe
[color]
# ui = true is a superset of all the more specific color options
# as documented at http://book.git-scm.com/5_customizing_git.html
# When set to always, always use colors in all git commands which are capable of colored output.
# When false, never. When set to true or auto, use colors only when the output is to the terminal.
# When more specific variables of color.* are set, they always take precedence over this setting.
# Defaults to false.
	ui = auto
	# diff = auto
	# status = auto
	# branch = auto:set nopaste

[color "branch"]
	#current = yellow reverse
	#local = yellow
	#remote = green
[color "diff"]
	#meta = yellow bold
	#frag = magenta bold
	#old = red bold
	#new = green bold
[color "status"]
	#added = yellow
	#changed = green
	#untracked = cyan
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	autocrlf = input
	editor = vim
	pager = less -FRXK
[alias]
	st = status -u
	dh = diff HEAD
	dc = diff --staged
	l = log --pretty='%C(auto)%h %d %s %Cgreen(%ad) %Cblue%an <%ae>%Creset' -10
	ll = log --pretty='%C(auto)%h %d %Cgreen(%ad) %Cblue%an <%ae>%Creset%n%s%n%n%b' -10
	lll = log --pretty='%C(auto)%h %d %Cgreen(%ad) %Cblue%an <%ae>%Creset%n%s%n%n%b' --stat -C -5
	tree = log --pretty='%C(auto)%h %d %s %Cgreen(%ad) %Cblue%an <%ae>%Creset' --graph --all -10
	br = branch -a
[log]
	date=relative
[rerere]
	# read if forget: https://git-scm.com/blog/2010/03/08/rerere.html
	enabled = true
[push]
	default = simple
